* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  height: 100%;
  min-height: 100vh;

  background: rgb(74, 112, 122);
  background: linear-gradient(
    180deg,
    rgb(102, 154, 168) 0%,
    rgba(221, 221, 218, 1) 100%
  );
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

// Cascading Rules

// flex
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap {
  flex-wrap: wrap;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.align-start {
  align-items: start;
}

.align-end {
  align-items: flex-end;
}

.justify-start {
  justify-content: start;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}
// spacing
.block-margin {
  margin: 1em;
}

.block-padding-sm {
  padding: 0.5em;
}

.block-padding-md {
  padding: 2em;
}

.spacer-sm {
  height: 1em;
  display: block;
  width: 100%;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

// something about emphasis styling
.shadow {
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
.shadow2 {
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px transparent,
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
// fonts
.arial {
  font-family: Arial, Helvetica, sans-serif;
}

// effect

.scale {
  transition: all 0.15s ease-in-out;

  &:hover {
    transform: scale(1.01);
  }
}

// Components start here. Maybe will seperate into style sheet components.
.navigation-overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  // justify-content: space-between;
  // flex-direction: row-reverse;
  background: rgba(255, 255, 255, 0.726);
  transition: transform 0.3s ease-in-out;
  transform: translate3d(0, -100%, 0);
  z-index: 1;
  .img {
    position: absolute;
    left: 1em;
    top: 103vh;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    &:hover {
      transform: scale(1.03);
    }
    &:hover ~ .bookmark {
      transform: scale(1.03);
    }
  }
  .navigation {
    font-size: 32px;
    font-weight: bold;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    p {
      margin: .5em 1em;
      padding: 2px 6px;
      border: 3px transparent solid;
      transition: border 0.1s ease-in-out;
      z-index: 3;
      border: 3px black solid;
      border-radius: 10px;
      background: rgba(255, 255, 255, 0.733);
      &:hover {
        background: rgba(204, 204, 204, 0.829); 
      }
    }
    div {
      margin: .5em 0 0 0
    }
    img {
      margin: 0 1em;
    }
  }
  .overlay-box {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 135px;
    border: solid 1px transparent;
    border-radius: .5em 0px 0px 50px;
    background: rgba(121, 121, 121, 0.102);
    z-index: 2;
  }
}

.bookmark {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 42px;
  top: 9em;
  background: #bbbb;
  margin: 0 auto 60px auto;
  z-index: -1;
  transition: all 0.3s ease-in-out;

  &:after {
    top: 100px;
    content: "";
    display: block;
    position: relative;
    border: 50px solid transparent;
    border-bottom: 40px solid white;
    border-color: #bbbbbb #bbbbbb transparent #bbbbbb;
    z-index: -1;
  }
}

.card-abs {
  position: relative;
  z-index: 2;
}

.project {
  .card-container {
    //   overflow-x: scroll;
    .border-style {
      border-top: .5em solid lighten(#000, 15%);
      border-right: .5em solid #000;
      border-left: .5em solid lighten(#000, 15%);
      border-bottom: .5em solid lighten(#000, 15%);
      margin: 10px 30px;
      .card-bubble {
        height: auto;
        width: auto;
        background-color: black;
        border-top: .5em solid #000;
        border-right: .5em solid lighten(#000, 15%);
        border-left: .5em solid #000;
        border-bottom: .5em solid #000;
      }

    }
    .border-style2 {
      border: 1em solid #000;
      border-top-color: lighten(#000, 20%);
      border-bottom-color: lighten(#000, 20%);
      margin: 10px 30px;
    }
    img {
      height: 200px;
    }
  }
}

.card-info {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 0;
  background: rgba(121, 121, 121, 0.883);
}

.my-name {
  font-family: 'Alfa Slab One';
  text-align: center;
  margin: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-mask-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#000),color-stop(.5,#000),color-stop(1,transparent));
  // transition: background-position 1s, background-color 1s;
  text-align: center;
  font-size: calc(18vw + 1rem);
  // font-weight: 800;
  line-height: 1;
  background-image: url("../img/headerbr.jpg");
  background-size: 110vw auto;
  background-repeat: no-repeat;
  background-position: 0px 15%;
}

.section-title {
  margin-left: 10%;
  font-family: 'Alfa Slab One', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  // font-weight: 700;
  color: #ffffff;
  opacity: 0.5;
}

.footer {
  margin: 0 0 10px 0;
  img {
    width: 30px;
  }
}
