@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');


* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

:root {
  --text-dark: #333;
  --text-light: #fff;
}

body {
  height: 100vh;
  height: 100%;
  min-height: 100vh;
  line-height: 1.6; //Improve the view of text with this.
  letter-spacing: -0.2px; //Improve the view of text with this.
  background: rgb(74, 112, 122);
  background: linear-gradient(
    180deg,
    rgb(0, 0, 0) 0%,
    rgb(62, 69, 71) 100%
    );
    color: rgb(221, 221, 221);
    font-family: 'Lato', 'sans-serif';
}
  // Cascading Rules
  
  // New head
.new-head {
  height: 90px;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .box {
      border: 6px solid #fff;
      width: 50px;
      height: 50px;
      text-align: center;
    }

    nav ul {
      list-style-type: none;
      display: flex;
      flex-direction: row;
      li {
        margin-left: 10px;
      }
    }
  }
  
}

// Intro 
.intro {
  height: 400px;
  margin: auto;
  .grid {
    grid-template-columns: 55% 45%;
  }
  img {
    max-height: 50px;
  }
  .card {
    position: relative;
    top: 60px;
    z-index: 100;
    height: 350px;
    background-color: white;
    color: #333;
    padding: 10px;
    border: 1px solid #fff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    .grid {
      grid-template-columns: 1fr 2fr;
    }
    h1 {
      margin: auto 0;
    }
    div {

    }
  }
}

.intro::before {
  content: '';
  position: absolute;
  z-index: -10;
  height:100px;
  top: 440px;
  left: 0;
  right: 0;
  background-color: white;
  transform: skewY(-3deg);
  --webkit-transform: skewY(-3deg);
  --moz-transform: skewY(-3deg);
  --ms-transform: skewY(-3deg);
}

// Kata
.kata {
  height: 340px;
  background-color: white;
  padding-top: 120px;
  color: #333;
  a {
    margin-left: 20px;
    text-decoration: none;
    outline: none;
    border: 0;
  }
}

// Carousel

.carousel {
  .window {
    background-color: red;
    width: auto;
    height: 300px;
    .carousel-item img {
      height: 100px;
    }
  }
}

.wrap {
  flex-wrap: wrap;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.align-start {
  align-items: start;
}

.align-end {
  align-items: flex-end;
}

.justify-start {
  justify-content: start;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}
// spacing
.block-margin {
  max-width: 800px;
  margin: auto;
  text-align: left;
}



.spacer-sm {
  height: 1em;
  display: block;
  width: 100%;
}


// something about emphasis styling
.shadow {
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
  0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
.shadow2 {
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px transparent,
  0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
// fonts
.arial {
  font-family: Arial, Helvetica, sans-serif;
}

// effect

.scale {
  transition: all 0.15s ease-in-out;
  
  &:hover {
    transform: scale(1.01);
  }
}
  
  // Components start here. Maybe will seperate into style sheet components.
  
.about {
  img {
    width: 300px;
  }
  padding: 10px;
  section {
    max-width: 320px;
    font-size: 18px;
  }
}
  
.navigation-overlay {
  position: fixed;
  width: 100%;
  background: rgba(187, 187, 187, 0.397);
  transition: transform 0.2s ease-in-out;
  transform: translate3d(0, -100%, 0);
  z-index: 1;

.navigation {
  font-size: 1.5em;
  font-weight: bold;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  min-height: 100px;
  margin-top: 10px;
  p {
    color: white;
    margin: 10px;
    padding: 1px 5px;
    border: 3px transparent solid;
    transition: border 0.1s ease-in-out;
    z-index: 3;
    border: 3px black solid;
    border-radius: 10px;
    background: rgb(0 0 0 / 67%);
    &:hover {
      background: rgba(0, 0, 0, 0.967); 
    }
  }
  div {
    // margin: .5em 0 0 0
  }
  img {
    margin: 0 10px;
  }
}

.overlay-box {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 135px;
  border: solid 1px transparent;
  border-radius: .5em 0px 0px 50px;
  background: rgba(121, 121, 121, 0.102);
  z-index: 2;
}
}

.nav-bar {
  position: absolute;
  bottom:-20px;
  div {
    width: 25px;
    border-bottom: 2px solid rgb(255, 255, 255);
    padding: 2px;
  }
}

// .nav-but {
//   margin: 10px 0px 0px 0px;
// }

.bookmark {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 42px;
  top: 9em;
  background: #bbbb;
  margin: 0 auto 60px auto;
  z-index: -1;
  transition: all 0.3s ease-in-out;

  &:after {
    top: 100px;
    content: "";
    display: block;
    position: relative;
    border: 50px solid transparent;
    border-bottom: 40px solid white;
    border-color: #bbbbbb #bbbbbb transparent #bbbbbb;
    z-index: -1;
  }
}

.card-abs {
  position: relative;
  // z-index: 1;
}

.project {
  .card-container {
    //   overflow-x: scroll;
    .border-style {
      border-top: .5em solid lighten(#000, 15%);
      border-right: .5em solid #000;
      border-left: .5em solid lighten(#000, 15%);
      border-bottom: .5em solid lighten(#000, 15%);
      margin: 10px 30px;
      .card-bubble {
        height: auto;
        width: auto;
        background-color: black;
        border-top: .5em solid #000;
        border-right: .5em solid lighten(#000, 15%);
        border-left: .5em solid #000;
        border-bottom: .5em solid #000;
      }

    }
    .border-style2 {
      border: 1em solid #000;
      border-top-color: lighten(#000, 20%);
      border-bottom-color: lighten(#000, 20%);
      margin: 10px 30px;
    }
    img {
      height: 200px;
    }
  }
}

.card-info {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 0;
  background: rgba(121, 121, 121, 0.883);
}

.my-name {
  font-family: 'Alfa Slab One';
  text-align: center;
  margin: 0;
  padding: 50px 0 0 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-mask-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#000),color-stop(.5,#000),color-stop(1,transparent));
  // transition: background-position 1s, background-color 1s;
  text-align: center;
  font-size: 50px;
  // font-weight: 800;
  line-height: 1;
  background-image: url("../img/headerbr.jpg");
  background-size: 120vw auto;
  background-repeat: no-repeat;
  background-position: 0px 15%;
}

.section-title {
  font-family: 'Alfa Slab One', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  // font-weight: 700;
  color: #000;
  opacity: 0.85;
}

.footer {
  margin: 0 0 10px 0;
  img {
    width: 30px;
  }
}

// styles for cipher

.header {
  text-align: center;
  background: rgba(255, 255, 255, 0.575);
  padding: 10px;
  margin: 0 0 20px 0;
}
.row-this {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.row-this-static{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.column-this {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.code-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 600px;
  max-height: 600px;
  // background: rgba(255, 255, 255, 0.192);
  border: 1px solid black;
  border-radius: 3px;
  padding: 10px;
  margin: 5px;
  div h4 {
      color: red;
  }
  textarea {
      color: white;
      width: 450px;
      height: 400px;
      padding: 15px;
      border: 3px solid rgba(255, 255, 255, 0.39); 
      border-radius: 5px;
      font-size: 20px;
      background:transparent;
  }
  div .copy-textarea {
      margin: 5px auto 0 auto;
      background: rgb(255, 255, 255);
      border: 1px solid black;
      border-radius: 3px;
      outline: none;
      transition: .2s;
      width: 80px;
      height: 20px;
  }
  
  div .copy-textarea:active {
      background: lightgrey;
      transform: translateY(1px);
  }
  div .green-button {
      background: greenyellow;
  }
  div .yellow-button {
      background: rgba(255, 235, 52, 0.774);
  }
  
}
.footer-cipher {
  background: rgba(0, 0, 0, 0.192);
  max-width: 400px;
  font-size: 8px;
  text-align: center;
  margin: 10px auto;
  .footer-button {
      margin: 5px;
      background: rgb(255, 255, 255);
      border: 1px solid black;
      border-radius: 3px;
      outline: none;
      transition: .2s;
      width: 80px;
      height: 20px;
  }
  .footer-button:active {
      background: lightgrey;
      transform: translateY(1px);
  }
}
@media only screen and (max-width: 800px) {
  .row-this {
    flex-direction: column;
    align-items: center;
  }
  .code-box {
      max-width: 80vw;
      max-height: 400px;
      textarea {
      max-width: 90%;
      height: 150px;
      margin: auto;
      }
  }
  .about {
    flex-direction: column;
    // img {
    //   width: 300px;
    // }
    // padding: 10px;
    // section {
    //   max-width: 320px;
    // }
  }

}

@media screen and (max-width: 400px) {
  .navigation-overlay {
    .navigation {
      font-size: 1.5em;
      font-weight: bold;
      justify-content: space-evenly;
      align-items: center;
      width: 100%;
      min-height: 2em;
      margin-top: 10px;
      .nav-but {
        flex-direction: column;

      }
      p {
        color: black;
        margin: 10px;
        padding: 1px 5px;
        transition: border 0.1s ease-in-out;
        z-index: 3;
        border: 0px transparent solid;
        border-radius: 0px;
        background: none;
        &:hover {
          background: rgba(0, 0, 0, 0.967); 
        }
      }
      div {
        // margin: .5em 0 0 0
      }
      img {
        margin: 0 10px;
    }
    }
  
    .overlay-box {
      position: absolute;
      top: 0;
      width: 100vw;
      height: 135px;
      border: solid 1px transparent;
      border-radius: .5em 0px 0px 50px;
      background: rgba(121, 121, 121, 0.102);
      z-index: 2;
    }
  }
}
